<div ng-controller="ctrlChangePassword">
	<form name="frmChangePassword">
		<center><h1>Change password</h1></center>
		<br />
		<div class="form-group row justify-content-md-center">
			<div class="input-group input-group-lg col-md-4" ng-show="successMessage.length > 0">
				<br />
				<center>
					<span class="alert alert-success">{{successMessage}}</span>
				</center>
				<br />
			</div>
		</div>
		<div class="form-group row justify-content-md-center">
			<div class="input-group input-group-lg col-md-4">
				<div class="input-group-addon glyphicon glyphicon-lock"></div>
				<input type="password" class="form-control" id="password1"
					name="password1" size="10" placeholder="New password"
					ng-model="password1" required>
			</div>
		</div>
		<div class="form-group row justify-content-md-center">
			<div class="input-group input-group-lg col-md-4">
				<div class="input-group-addon glyphicon glyphicon-lock"></div>
				<input type="password" class="form-control" id="password2"
					name="password2" size="10" placeholder="Re-type new password"
					ng-model="password2" required
					key-bind="{ enter: 'updatePassword()'}">
			</div>
		</div>
		<div class="form-group row" ng-show="errMessageShow">
			<br />
			<center>
				<span class="alert alert-danger">{{errMessage}}</span>
			</center>
			<br />
		</div>
		<div class="form-group row justify-content-md-center">
			<div class="input-group input-group-lg col-md-4"
				ng-show="password1 != password2">
				<br />
				<center>
					<span class="alert alert-danger">Password and retyped
						password are not matched</span>
				</center>
				<br />
			</div>
		</div>
		<div class="form-group row justify-content-md-center">
			<div class="input-group input-group-lg col-md-4"
				ng-show="(password1.length<6 || password1.length>20) && password1.length>0">
				<br />
				<center>
					<span class="alert alert-danger">Password need to between 6
						to 20 characters</span>
				</center>
				<br />
			</div>
		</div>
		<div class="form-group row justify-content-md-center">
			<div class="input-group input-group-lg col-md-4">
				<div class="offset-md-4">
					<button
						class="btn btn-primary glyphicon glyphicon glyphicon-floppy-disk"
						ng-click="updatePassword()"
						ng-disabled="!frmChangePassword.password1.$valid || !frmChangePassword.password2.$valid || (password1 != password2) || (password1.length<6) || (password1.length>20)">&#160;Save</button>
					&#160;
					<button type="reset"
						class="btn btn-primary glyphicon glyphicon-remove-sign">&#160;Reset</button>
				</div>
			</div>
		</div>

	</form>
</div>